/*! Load Awesome v1.1.0 | MIT License | http://github.danielcardoso.net/load-awesome/ */

.la-ball-scale-pulse {
    &, & > div {
        position: relative;
        box-sizing: border-box;
    }
}

.la-ball-scale-pulse {
    display: block;
    font-size: 0;
    color: transparentize(#ccc, 0.5);
    & > div {
        display: inline-block;
        float: none;
        background-color: currentColor;
        border: 0 solid currentColor;
    }
}

.la-ball-scale-pulse {
    width: $ballBaseSize;
    height: $ballBaseSize;
    & > div {
        position: absolute;
        top: 0;
        left: 0;
        width: $ballBaseSize;
        height: $ballBaseSize;
        border-radius: 100%;
        animation: ball-scale-pulse $ballBaseSpeed infinite ease-in-out;
        &:last-child {
            animation-delay: $ballBaseSpeed/-2;
        }
    }
}

.la-ball-scale-pulse.la-sm {
    width: $ballBaseSize/2;
    height: $ballBaseSize/2;
    & > div {
        width: $ballBaseSize/2;
        height: $ballBaseSize/2;
    }
}

.la-ball-scale-pulse.la-2x {
    width: $ballBaseSize*2;
    height: $ballBaseSize*2;
    & > div {
        width: $ballBaseSize*2;
        height: $ballBaseSize*2;
    }
}

.la-ball-scale-pulse.la-3x {
    width: $ballBaseSize*3;
    height: $ballBaseSize*3;
    & > div {
        width: $ballBaseSize*3;
        height: $ballBaseSize*3;
    }
}

/*
 * Animation
 */
@keyframes ball-scale-pulse {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
