@import '../../node_modules/scut/dist/_scut.scss';
@import 'ball-clip-rotate';

// google maps resets
html, body { height: 100%; margin: 0; padding: 0; }

body {
    background: #666;
    font-size: 16px;
    font-family: 'Exo', sans-serif;
}

$footerHeight: 5em;

$mainHeight: calc(100% - #{$footerHeight});

a {
    text-decoration: none;
    color: inherit;
}

$mainLoaderSize: 200px;
#map {
    box-sizing: border-box;
    position: relative;
    height: $mainHeight;
    & > .la-ball-clip-rotate {
        @include scut-center-absolutely($mainLoaderSize $mainLoaderSize);
    }
    .error {
        height: 100%;
    }
}

.la-ball-clip-rotate {
    &.big {
        @include ball-spin-specs( $mainLoaderSize, 5px, 2s, transparentize(#ccc, 0.5) );
    }
    &.small {
        @include ball-spin-specs(20px, 1px, 1.5s, #333);
        position: absolute;
        top: 0;
    }
}

.infowindow-content {
    overflow: hidden;
    line-height: 1.3em;
    span.title {
        font-weight: 500;
        display: block;
        margin-bottom: 7px;
    }
    div.soundcloud {
        position: relative;
        font-size: 0;
        .la-ball-clip-rotate {
            position: absolute;
            top: 0;
        }
    }
}

.error-send {
    display: none;
}

.error {
    width: 100%;
    height: $mainHeight;
    text-align: center;
    color: transparentize(white, 0.5);
    @include scut-vcenter-td('.inner');
    h2 {
        font-weight: 300;
        line-height: 1.5em;
        letter-spacing: 1px;
    }
    .error-closer {
        $size: 1.5em;
        @include scut-circle($size, transparent);
        font-size: $size;
        border: solid 1px;
        line-height: $size;
    }
}

#footer {
    $footerColor: #999;
    @include scut-vcenter-td('p');
    width: 100%;
    height: $footerHeight;
    background: #333;
    p {
        font-weight: 300;
        margin: 0;
        color: $footerColor;
        text-align: right;
        font-size: 0.9em;
        line-height: 1.2em;
        padding: 0 1rem;
        a {
            color: lighten($footerColor, 10%);
            &:hover {
                color: lighten($footerColor, 20%);
            }
        }
    }
}
